@font-face {
  src: url("../fonts/Iran-Medium.eot") format('eot');
  src: url("../fonts/Iran-Medium.woff") format('woff');
  src: url("../fonts/Iran-Medium.woff2") format('woff2');
  font-family: 'iran';
}
body{
  font-family: 'iran';
}